/*///////////////////////////////////////////////////
=====Fonts=====
//////////////////////////////////////////////////*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*///////////////////////////////////////////////////
=====Body, and  Content (A container for our entire page)=====
//////////////////////////////////////////////////*/

body {
    background-color: #85C6D6;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

/*///////////////////////////////////////////////////
=====Headlines=====
//////////////////////////////////////////////////*/

h2 {
    margin: 0;
}

h4 {
    color: #151515;
}

/*///////////////////////////////////////////////////
=====Header, Logo Box, and Navigation=====
//////////////////////////////////////////////////*/

header {
    background-color: #3D3B3F;
    display: grid;
    grid-template-columns: 150px auto;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
    margin: 30px;
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #FCCA5F;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #FCCA5F;
    color: #3D3B3F;
}

/*///////////////////////////////////////////////////
=====Hero=====
//////////////////////////////////////////////////*/

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-img {
    width: 100%;
    height: 100vh;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1 {
    text-align: center;
    color: #85C6D6;
}

#hero-msg h4 {
    text-align: center;
    color: white;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

.home-title{
    color: #3D3B3F;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.button-box {
    text-align: center;
}

.book {
    background-color: #F47C66;
    color: #3D3B3F;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: #FCCA5F;
    color: #3D3B3F;
}


/*///////////////////////////////////////////////////
=====Main Section=====
//////////////////////////////////////////////////*/

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(100px, auto));
    
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.rivers-card {
    margin: 200px 0px;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}


.camping-card {
    margin: 200px 0px;
    grid-column: 5 / 7;
    grid-row: 2 / 3;
}


.rapids-card {
    margin: 200px 0px;
    grid-column: 8 / 10;
    grid-row: 2 / 3;
}

.card-img {
    border: 10px solid black;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

/*///////////////////////////////////////////////////
=====Message=====
//////////////////////////////////////////////////*/

#background {
    height: 725px;
    background-color: #3D3B3F;
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg {
    background-color: #FCCA5F;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2 {
    color: #151515;
    font-family: "Poppins", Arial, sans-serif;
}

.msg p {
    color: #3D3B3F;
    font-size: .8em;
    padding-bottom: 15px;
}

.join {
    background-color: #F47C66;
    color: #3D3B3F;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join:hover {
    background-color: #85C6D6;
    color: #3D3B3F;
}

/*///////////////////////////////////////////////////
=====Footer=====
//////////////////////////////////////////////////*/

footer {
    background-color: #3D3B3F;
    color: #FCCA5F;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #FCCA5F;
    text-decoration: none;
}

footer a:hover {
    color: #F47C66;
}

footer p a:hover{
    text-decoration: underline;
}

footer .social img { 
    padding-top: 15px;
}


/*///////////////////////////////////////////////////
////////////////////////////////////////////////////
=====Rivers Page=====
///////////////////////////////////////////////////
//////////////////////////////////////////////////*/

#body-rivers{
    background-color: #151515;
}

#hero-rivers {
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin-top: -100px;
}

#hero-msg-rivers {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 10rem 1rem 1rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.headlines-hero-rivers {
    background-color: #FCCA5F9b;
    border-radius: 5px;
    padding: 2px;
}

#hero-msg-rivers h1 {
    text-align: left;
    margin: 10px;
    color: #3D3B3F;
}

#hero-msg-rivers h4 {
    font-size: 0.8em;
    text-align: left;
    margin: 10px;
    color: #151515;
}

.headline-rivers {
    width: 100%;
    padding: 1rem 0rem 1rem 0rem;
    margin-top: -5px;
    background-color: #FCCA5F;
}


.headline-rivers h2 {
    margin-left: 40px;
    }


.content-rivers {
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color: #85C6D6;
    color: #3D3B3F;
}

.p-rivers{
    margin: 2rem;
}

.cards-rivers {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.cards-rivers img{
    width: 100%;
}

/*////////////////////////////////////
////////////// Form  /////////////////
/////////////////////////////////// */

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #151515;
    border-radius: 1em;
    background-color: #efebeb;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li+li {
    margin-top: 1em;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
    font-size: 0.9em;
}

input,
textarea {
    /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
    font: 0.8em sans-serif;

    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;

    /* Match form field borders */
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    height: 5em;
}

.button {
    /* Align buttons with the text fields */
    padding-left: 90px;
    /* same size as the label elements */
}

button {
    /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
    margin-left: 0.5em;
}

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;
}

.moveDown {
    margin-top: 3em;
}


@media screen and (max-width: 900px) {
    

    #hero,
    .home-grid {
        display: block;
        height: auto;
    }

    nav,
    footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    #hero {
        margin-top: 0;
    }

    #hero-rivers {
            grid-template-columns: 1fr 1fr;
     }

    #hero-msg {
        margin-top: 0;
    }

    #hero-msg h4 {
        display: none;
    }

    .home-title {
        font-size: 25px;
        color: #6f7364;
    }

    .rivers-card,
    .camping-card,
    .rapids-card {
        margin: 50px auto;
        width: 60%;
    }

    #background {
        display: none;
    }

    .mountains,
    .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    footer {
        margin-top: 25px;
    }
}
