/******************************************************************************
START grid layout extra credit
******************************************************************************/
* {}

.grid1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 2em;
    padding-bottom: 2em;
}

.grid1 h1 {
    grid-column: 1/3;
    background-color: tomato;
    
}

.grid2 {
    grid-column: 2/11;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: aquamarine;
}

.grid2 h2 {
    grid-column: 3/5;
    align-items: center;
}

.grid3 {
    grid-column: 7/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: blueviolet;
}

.grid3 h3 {
    grid-column: 2/5;
    align-items: center;
}

.grid4 {
    grid-column: 4/11;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: gold;
}

.grid4 h2 {
    grid-column: 2/4;
}

section {
    grid-column: 2/9;
    background-color: orange;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}


section h2 {
    grid-column: 1/3;
}

form {
    grid-column: 2/7;
    display: grid;
    background-color: red;
}

legend {}

fieldset {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

fieldset div {
    display: grid;
    grid-template-columns: 1fr 5fr;
    Grid-gap: 0 1em;
    background-color: blue;
    grid-template-columns: 1fr 2fr;
    
}

label {
    text-align: right;
}

input {
    text-align: left;
    width: 100%;
}

button {}


section>div {}

