/*/////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// Import Fonts ////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/*/////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// Reset ////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*/////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// Body ////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////*/

body {
    background-color: #efe8e8;
    font-family: "Merriweather", Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

/*/////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// Headlines ////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////*/

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", Arial;;
}

/*/////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// Navbar ////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////*/

header {
    background-color: #3D3B3F;
    display: grid;
    grid-template-columns: 20vh auto;
}

.logo {
    width: 150px;
    margin-bottom: -25px;
    margin-top: -20px;
}

#logo_link {
    margin-left: 40px;
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    text-align: center;
    color: #FCCA5F;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #FCCA5F;
    color: #3D3B3F;
}


/*/////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// Hero ////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////*/

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}