/*/////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// Import Fonts ////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/*/////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// Body ////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efe8e8;
    font-family: "Merriweather", Helvetica, sans-serif;
    font-size: 22px;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

/*/////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// Headlines and Paragrap ////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////*/

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", Arial;;
}

h2, h3 {
    color: #31932C;
    margin: 30px 0;
}

p {
    color: #1B0A0E;
}
/*/////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// Navbar ////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////*/

header {
    background-color: #86DF89;
    display: grid;
    grid-template-columns: 20vh auto;
}

.logo {
    width: 95px;
    margin: 5px;
}

#logo_link {
    margin-left: 60px;
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    text-align: center;
    color: #1B0A0E;
    text-decoration: none;
    padding: 40px;
}

nav a:hover {
    background-color: #4A3439;
    color: #86DF89;
}


/*/////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// Hero ////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////*/

.hero {
    position: relative;
}

.hero-box{
    position: relative;
}

.hero-msg {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-img {
    width: 100%;
    height: 100vh;
}

/*/////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// Complete Message ////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////*/

.complete-msg-box {
    text-align: left;
    width: 85%;
    margin: 110px;
    font-size: 0.9em;
}


/*/////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// Slider ////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////*/

.slider {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: #1B0A0E;
}

.slider .slider-img-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transition-delay: 0s;
    z-index: 1;
    clip-path: circle(0px at center);
}

.slider input[type="radio"]:checked + .slider-img-box {
    z-index: 10;
    clip-path: circle(1000px at center);
    transition-delay: 0.75s;
}

.slider .slider-img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider input[type="radio"]{
    position: relative;
    z-index: 1000;
    margin: 5px;
    margin-bottom: 40px;
    outline: none;
    cursor: pointer;
}

/*/////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// Double message  ////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////*/

.double-msg-box {
    display: grid;
    grid-template: 50% 50%;
    text-align: left;
    font-size: 0.8em;
}

.msg1-box {
    grid-column: 1/2;
    margin-left: 30%;
    margin-top: 30px;
}

.msg2-box {
    grid-column: 2/3;
    margin-left: 10%;
    margin-top: 30px;
    margin-right: 20%;
}

.double-msg {
    width: 75%;
}

.button-box{
    text-align: center;
    font-family: "Lato";
}

.short-button {
    background-color: #86DF89;
    color: #1B0A0E;
    padding: 15px 50px;
    font-weight: 600;
    border-radius: 0.5em;
}

.s-but {
    margin-top: 60px;
    margin-bottom: 50px
}

/*/////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// Mmessage and image  ////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////*/

.msg-and-img-box, .list-and-img-box {
    display: grid;
    grid-template-columns: 50% 50%;
    border-style:double;
}

.mid-msg {
    margin-top: 5%;
    margin-left: 20%;
    width: 55%;
    font-size: 1em;
}

.mid-img img {
    width: 100%;
}

/*/////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// Message and image  ////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////*/

.complete-msg-button-box {
    margin: 70px 150px;
}

.long-button {
    background-color: #86DF89;
    color: #1B0A0E;
    padding: 15px 50px;
    border-radius: 0.5em;
}

.l-but{
    margin: 40px 0;
}

/*/////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// Footer  ////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////*/

footer{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80% 20%;
}

footer, footer p, footer a{
    background-color: #1B0A0E;
    color: #efe8e8;
}

.social-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 30% 70%;
    text-align: center;
}

.social-box h4{
    grid-column: 1/4;
    grid-row: 1/2;
    margin-top: 5%;
}

.icons-box {
    display: grid;
    grid-column: 1/4;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    line-height: 0;
}

.facebook {
    grid-column: 2/3;
}

.instagram {
    grid-column: 3/4;
}

.twitter {
    grid-column: 4/5;
}

.social-icon {
    padding-top: 15px;
    margin: 40px;
}

.footer-links-box {
    display: grid;
    grid-template-columns: 40% 60%;
}

.footer-link{
    grid-column: 1/2;
    margin-left: 10%;
    margin-top: 10%;
}

footer p{
    grid-column: 1/3;
    text-align: center;
    padding: 40px 0;
}
